.logo-item {
    width: 100%;
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    &__heading {
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 500;
        display: inline;
        margin-left: 10px;
        color: white;
        opacity: 0.5;
    }

    &__navlink {
        display: flex;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
    }
}

.sidebar__paragraph {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 10px;
}