* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Mulish, sans-serif;
    box-sizing: border-box;
    background-color: #17171e;
    color: white;
}

.site-wrapper {
    margin: 20px;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

.app {
    display: flex;
    height: 100%;

    &__content {
        width: 100%;
    }
}