* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Mulish, sans-serif;
    box-sizing: border-box;
    background-color: #17171e;
    color: white;
}

.site-wrapper {
    margin: 20px 20px;
    margin-right: 50px
}

.app {
    display: flex;
    height: 100%;

    &__content {
        width: 100%;
    }
}
